* {
  box-sizing: border-box;
}

.content-div {
  height: fit-content;
  min-height: 100%;
  display: flex !important;
  flex-direction: column;
  background: #e7ebff !important;
  width: 100% !important;
}

.logo img {
  width: 12em;
}

.main {
  background: #e7ebff !important;
}

.center {
  height: 90%;
}

.heading {
  height: 4rem;
  margin-top: 3rem;
}

.people {
  color: #6a6cff;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
}

.search {
  color: #444444;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
}

.search-bar {
  background: #ffffff;
  border-radius: 4px;
  border: 0px;
  padding: 1rem 1rem 1rem 2rem;
  font-size: 1rem;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  width: 55%;
  min-width: 250px;
  height: 3rem;
}

.button {
  background: #6a6cff;
  border-radius: 4px;
  width: 10rem;
  height: 3.5rem;
  color: #ffffff;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 44%;
}

.table {
  width: 55% !important;
  margin-top: 1rem !important;
}

.table-header-c {
  font-family: Lato;
  font-style: normal;
  font-weight: normal !important;
  line-height: normal;
  color: #888888 !important;
  text-align: center !important;
}

.table-header-l {
  font-family: Lato;
  font-style: normal;
  font-weight: normal !important;
  line-height: normal;
  color: #888888 !important;
  text-align: left !important;
}

.table-cell-l {
  background: #ffffff;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: #000000;
  text-align: left !important;
}

.table-cell-c {
  background: #ffffff;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: #000000;
  text-align: center !important;
}

.tabMenu {
  width: 74%;
  min-width: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tabMenuItem {
  margin-bottom: 1em;
  width: 177px;
  min-width: fit-content;
  padding: 10px;
  border: none;
  height: 44px;
  box-sizing: border-box;
  opacity: 0.5;
}

.tabMenuItemStudent {
  background-color: #ececfc;
  border-bottom: 4px solid #6a6cff;
}

.tabMenuItemFaculty {
  background-color: #fcf1e1;
  border-bottom: 4px solid #fcc26d;
}

.tabMenuItem-color {
  opacity: 1;
}

.menu {
  width: 100%;
  min-height: 5rem;
  height: fit-content;
  border-top: 0px;
  border: none;
  margin-top: 0rem;
  background-color: white;
  padding: 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.menu-student-filters {
  width: 100%;
  min-width: fit-content;
  height: fit-content;
  border-top: 0px;
  border: none;
  margin-top: 0rem;
  background-color: white;
  padding: 2rem;
  display: flex;
  padding-top: 1rem;
  padding-left: 1.5rem;
}

.submit-menu {
  width: 55%;
  display: flex;
  justify-content: flex-end;
  border-top: 0px;
  padding: 0rem;
  margin-top: 1rem !important;
  margin-bottom: 1rem;
}

.menu-item {
  min-width: 6em;
  padding: 2px;
  border: 1px solid #dddddd;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.02em;
  color: #444444;
}

@media only screen and (max-width: 1302px) {
  .center {
    position: relative;
    width: 100%;
  }
  .tabMenu {
    justify-content: center;
  }
}

@media only screen and (max-width: 1600px) {
  .result-item-name {
    font-size: small;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .result-item-interests {
    font-size: medium;
    margin-top: 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .result-item-enrolment {
    font-size: small;
  }

  .result-item-branch {
    font-size: small;
  }
}

.menu-item-color {
  min-width: 6em;
  padding: 2px;
  border: 1px solid #dddddd;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.02em;
  color: #444444;
  background-color: #9090f7 !important;
}

.menu-student_items {
  margin-right: 2rem;
  width: 15em !important;
  font-size: small !important;
}

.menu-faculty_items {
  width: 15em !important;
  margin-right: 2rem;
  font-size: small !important;
}

.advanced {
  width: 55%;
  min-width: 250px;
  height: 2.5rem;
  margin: 1rem 1rem 0rem 1rem;
  padding: 0.5rem;
  background: #ffffff;
  border-radius: 2px;
}

.advanced-all {
  width: 55%;
  min-width: 250px;
  padding: 0%;
  background: #ffffff;
  border-radius: 0px;
}

.link {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.01em;
  color: #6a6cff;
  padding-left: 1.5rem;
  float: left;
}

.arrow {
  float: right;
  margin-right: 1rem;
  color: #7d7fff;
}

.result-segment {
  margin-bottom: 1em;
  background-color: #ffffff;
  width: 80%;
  height: fit-content;
  border-top: 0px;
  display: flex;
  padding: 1em;
  padding-bottom: 1.5em;
  flex-direction: column;
  justify-content: center;
  min-height: 5em;
  border-radius: 0.28571429rem;
}

.result-item {
  height: fit-content;
  align-items: center;
  margin-top: 0.75em;
  font-family: Lato;
  font-size: medium;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  letter-spacing: 0.02em;
  color: #444444;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.result-item-name {
  font-size: small;
  margin-top: 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.result-item-enrolment {
  font-size: small;
}

.result-item-branch {
  font-size: small;
}

.result-item-branch-faculty {
  font-size: small;
  margin-top: 0.75em;
}

.result-item-interest {
  font-family: Lato;
  font-size: small;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.02em;
  color: #444444;
}

.icon-button {
  height: 3.5rem;
  width: 9.5rem;
  float: right;
}

.info-box {
  background-color: #ffffff;
  height: 25.5rem;
  width: 15rem;
  padding: 2rem;
}

.info-list {
  padding: 2rem;
}

.info-item {
  margin: 0.5rem;
  padding: 0.5rem;
}

.search-title-heading {
  cursor: pointer;
  font-size: 1.5em;
  font-family: Lato;
  font-weight: bold;
  margin-left: 0%;
}

.no-match {
  font-size: 1.5em;
  font-family: Lato;
  margin-left: 0%;
  margin-top: 1em;
  margin-bottom: 2em;
}

.student-div {
  margin-bottom: 3em;
}

.filters {
  width: 55%;
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

.filter-item {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  color: #444444;
  font-family: Lato;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 9px 26px 9px 18px;
  word-wrap: break-word;
  max-width: 100%;
}

.filter-item-student {
  background-color: rgba(125, 127, 255, 0.35);
}
.filter-item-faculty {
  background-color: #ffe8c7;
}

.pageNumber {
  color: #131313;
  border: none;
  background: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.pageNumber-active {
  color: #000000;
  border: none;
  background-color: #e0e1e2;
  padding: 10px;
  font-size: 18px;
}

.angleIcon {
  border: none;
  background: none;
  opacity: 0.5;
  color: #000000;
  padding: 10px;
  font-size: 18px;
}

.angleIcon-active {
  cursor: pointer;
  border: none;
  background: none;
  color: #7d7fff;
  padding: 10px;
  font-size: 18px;
}

.category {
  width: 55%;
  border-top: 0px;
  padding: 0rem;
  margin-top: 1rem !important;
  margin-bottom: 1rem;
  overflow: auto;
}

.category-container {
  min-width: 270px;
  display: flex;
  justify-content: flex-start;
}
