* {
    box-sizing: border-box;
  }
  
  .content-div {
    height: 100%;
    display: flex !important;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    background: #f5f6fa !important;
    width: 100% !important;
  }
  .profile-div{
    margin-top: 2%;
    margin-left: 10%;
  }

  .branch-text{
    font-size: medium;
  }

  .logo img {
    width: 12em;
  }
  
  .main {
    background: #f5f6fa !important;
  }
    
  .heading {
    height: 4rem;
  }
  
  .people {
    color: #6a6cff;
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
  }
  
  
  .button {
    background: #6a6cff;
    box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    width: 10rem;
    height: 3.5rem;
    color: #ffffff;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 44%;
  }
  
  .table {
    width: 55% !important;
    margin-top: 1rem !important;
  }
  
  .table-header-c {
    font-family: Lato;
    font-style: normal;
    font-weight: normal !important;
    line-height: normal;
    color: #888888 !important;
    text-align: center !important;
  }
  
  .table-header-l {
    font-family: Lato;
    font-style: normal;
    font-weight: normal !important;
    line-height: normal;
    color: #888888 !important;
    text-align: left !important;
  }
  
  .table-cell-l {
    background: #ffffff;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #000000;
    text-align: left !important;
  }
  
  .table-cell-c {
    background: #ffffff;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #000000;
    text-align: center !important;
  }
  
  
  .link {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.01em;
    color: #6a6cff;
    padding-left: 1.5rem;
    float: left;
  }
  
  .arrow {
    float: right;
    margin-right: 1rem;
    color: #7d7fff;
  }
  
  
  .icon-button {
    height: 3.5rem;
    width: 9.5rem;
    float: right;
  }
  
  .info-box {
    background-color: #ffffff;
    height: 100%;
    width: 15rem;
    padding: 2rem;
  }
  
  .info-list {
    padding: 1rem;
  }
  
  .info-item {
    margin: 0.7rem;
  }

  .info-text { 
      font-size: medium;
      padding-top: 0.5rem;
  }

@media only screen and (max-width: 804px) {
  .content-div {
    height: 100%;
    overflow-x: scroll;
    position: fixed !important;
    display: flex !important;
    flex-direction: column;
    background: #f5f6fa !important;
    width: 100% !important;
  }
  .picture{
    visibility: hidden;
  }
  .profile-div{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
}